/* Saction */
.hero {
  padding: 80px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.hero-content {
  flex: 1;
}

.hero-content h1 {
  font-size: 48px;
  line-height: 1.2;
}

.hero-content p {
  margin-top: 20px;
  font-size: 16px;
  color: #cfcfcf;
  max-width: 400px;
}

.hero-buttons {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.btn.primary {
  background: #ffeb3b;
  color: #000;
  padding: 12px 28px;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
}

.btn.secondary {
  background: transparent;
  color: #fff;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

.stats {
  display: flex;
  margin-top: 50px;
  gap: 50px;
}

.stats div h2 {
  color: #ffeb3b;
  margin: 0;
}

.hero-image {
  flex: 1;
  position: relative;
  text-align: center;
}

.hero-image img {
  overflow: visible;
}

.chart {
  position: absolute;
  bottom: 40px;
  left: -90px;
  background: white;
  color: #901515;
  padding: 10px 30px;
  border-radius: 7px;
  font-size: 15px;
}
.star {
  position: absolute;
  left: -150px;
  bottom: 290px;
}
.oologo {
  position: absolute;
  right: 800px;
  bottom: 640px;
}

.partners {
  background-image: url(./ernaz.img/bacraund.png);
  padding: 40px 0;
  text-align: center;
}

.partners img {
  margin: 0 30px;
  filter: brightness(0) invert(1);
  height: 30px;
}
